table#matrix {
  border: solid 3px black;
}
div#tiles {
  border: solid 3px black;
  padding: 20px;
  margin: 10px;
}

div#info {
  float: right;
}

td.tile {
  line-height: 0px;
  position: relative;
}

img {
  height: 32px;
  width: 32px;
}

img.decor {
  position: absolute;
  z-index: 2;
}
