td.tile {
  line-height: 0px;
  position: relative;
}

img {
  height: 32px;
  width: 32px;
}

img.decor {
  position: absolute;
  z-index: 2;
}


table#matrix {
  border: solid 3px black;
  float: left;
}
