img {
  height: 32px;
  width: 32px;
}

input {
  width: 100%;
}

td.tile {
  line-height: 0px;
  position: relative;
}

img.decors, img.cartels {
  position: absolute;
  left: 0px;
  z-index: 2;
}



div.panel{
  border: solid 3px black;
  padding: 20px;
  margin: 10px;
  width: 20%;
  float: right;
}

#info {
  float: right;
}

table#matrix {
  float: left;
}
